*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
:root{
    --primary-color:white;
    --secondar-color:#262626;
}
body{
   background-color: var(--primary-color);
   color: var(--secondar-color); 
}
#changecolor{
    font-size: 30px;
}
.dark-theme{
    --primary-color:#262626;
    --secondar-color:white;
}
html{
     scroll-behavior: smooth; 
  
}
.log img{
    width:150px;
    height: 88px;
    font-size: 20px;
}
/* .select{
    transition: down 0.4s;
} */
nav{
    position: fixed;
    width: 100%;
    height: 16%;
    background:var(--secondar-color);

}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 70px;
}
.main ul li{
    list-style: none;
    display: inline-flex;
    padding: 20px;
    margin-right: 40px;
}
.main ul li a{
    
    color: var(--primary-color);
    text-decoration: none;
}
.main ul li a:hover{
    color: aqua;
    /* transform: translateX(10px); */
    text-decoration-line: underline;
    
}
.main i{
    color:var(--primary-color);
}
select{
    font-size: 20px;
    width: 95%;
}
ion-icon{
    color: var(--primary-color);
}
.content{
    background: url(images/mm\ \(2\).jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 130vh;
    width: 100%;
   
}
.center{
    position: absolute;
    top: 250px;
    left: 200px;
    padding: 20px;
}
.head{
    color:var(--primary-color);
}
.choose{
    margin: 20px;
    font-size: 30px;
}
.order{
    position: fixed;
    right: 9%;
    bottom: 2%;
    width: 80%;
    height: 70vh;
   
    background:radial-gradient(purple,gray,blue);
    
}
.find{
    display: none;
    position: fixed;
    top:120px;
    left:900px;
    width: 20%;
    height: 52px;
    border-radius: 50px;
    background: gray;
    transition: right 0.4s;
}
.find input{
   
    background-color: purple;
    padding: 15px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

}
.find label{
    right: 2%;
    top:110px;
display: inline-flex;
}
/* .find i{
    display: inline-flex;

      font-size: 30px;
    color:var(--primary-color); 
    border-radius: 10px;
    padding-left: 20px;
    padding-bottom: 15px;
    border-radius:10px;
    height: 50%;
    background: gray; 
}  */
.closee {
    position:fixed;
    right: 9%;
    bottom: 68%;
    font-size: 20px;
    color:#ff004f;
    background: transparent;
    border: none;
}
.continue{
    
    position: relative;
    color:var(--primary-color);
    font-size: 25px;
    margin-top: 60px;
    margin-left: 60px;
    height: 40px;
    width: 150px;
    border: 2px solid green;
    background: transparent;
    border-radius: 10px;
    transition: left .4s ease;
}
.submit{
    position: relative;
    color: aqua;
    font-size: 20px;
    margin-top: 60px;
    margin-left: 60px;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background:green;
    border: 2px solid green;   
}
.signup{
    font-size: 30px;
    color:var(--secondar-color);
    text-decoration: none;
}
.signup:hover{
    text-decoration-line: underline;
}
.continue:hover{
    /* width: 100%; */
  
    background:green;
    box-shadow: 0px,0px,0px, #ff004f
               0px ,0px ,0px, #ff004f
     0px ,0px ,0px, #ff004f;
}
.label{
    margin: 20px;
    /* align-items: center;
    justify-content: center; */
}
.label input{
    padding: 10px;  
}
label{
    margin: 10px;
    color: var(--primary-color);
}

.label>label{
    display: flex;

}
.form{
    position: fixed;
    right: 9%;
    width: 40%;
    /* height: 20vh; */
    border: 1px groove green;
    bottom: 15%;
    background:radial-gradient(blue 20%,skyblue 10%,#ff004f 30% ,#262626 20%,darkblue 30%,yellow 30%,yellowgreen 50%,white 50%,skyblue 50%,gray 50%,blue 30%,#262626 100%);

}
/* .form-control{
    margin-bottom: 10px;
    padding-bottom: 10px;
} */
.form-control label{
    display: inline-block;

}
.new-div{
    position: absolute;
    top:220px;
    left: 600px;
    width: 20%;
    height: 120px;
    background: yellow;
}
.form-control input{
    border: 2px solid black;
    display: block;
    font-size: 14px;
    border-radius: 8px;
    font-family: inherit;
    /* width: 100%; */

}
.form-control i{
    /* position: absolute;
  right: 1px;
  margin-bottom: 40px; */
 
}
.login{
    font-size: 30px;
    color:var(--primary-color);
}
/* .paragraph{
    color: white;
} */
.close{
    position: fixed;
    right: 9%;
    bottom:85%;
    margin-right: 10px;
    /* background: red; */
    color: red;
    border: none;
    font-size: 20px;
}
.close:hover{
    background:rgb(235, 59, 59);
    color: var(--secondar-color);

}
form {
  height: 50vh;
    /* padding: 20px; */
}
form label{
    /* margin: 10px; */
}
/* form input{
    margin:10px;
} */
 form input[type=text],input[type=password]{
    /* padding: 10px;
    /* background: transparent; */
    /* text-transform: uppercase;
    width: 40%; */
}  */
.new-form{
    position:fixed;
    /* height: 20%;
    width: 10%; */
    background: linear-gradient(rgb(12,34,56),rgb(34,78,90));
}
/* .next:hover{
    background: transparent;
    color: black;
}
.next i:hover{
    color: black;
} */
select{
    transition: down 0.4s;
}
/* ..........................about............... */
.owner h1{
    text-align: center;
}
.owner h2{
    text-align: center;
}
.about{
    padding: 20px;
}
.image{
   /* margin-left: 200px; */
}
.image img{
    float: left;
    width: 200px;
    padding: 30px;
    height: 300px;
    /* border-radius: 50%; */
    background:var(--secondar-color);
    /* background: #262626; */
    border-radius: 50%;
}
.paragraph{
    margin-top: 100px;
    margin-left: 40px;
}
div img{
    clear: inherit;
    width: 150px;
    height: 150px;
}
 /* .service-content div{
    background: gray;
} */
.service-content{
    clear: left;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 20px;
    margin-left: 20px;
   
}



.service-content div img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
/* scrolling */
.scroll-down{
    position: fixed;
    right: 3%;
   
    
    bottom: 3%;
    
}
.scroll-down {
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 50%;
    background: green;
    font-size: 40px;
    
  
    /* width: 10%;
    height: 10%; */
}
.scroll-down a{
    color: var(--primary-color);
    scroll-behavior: smooth;
}
/* .......................product.......................... */
.service{
    clear: left;
}
/* .next-content div{
    display: none;
} */
.service h1{
    text-align: center;
}
.prouct-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin: 20px;
    margin-top: 10%;
    margin-left: 20px;
}
.prouct-list div img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.buy{
    text-decoration: none;
    text-transform: uppercase;
    /* background: green;
    color: white;
    width: 20%;
    height: 5%;
    border-radius: 10px; */
}
.buy:hover{
    text-decoration-line: underline;
}
.new-product-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin: 10%;
}
.new-product-list div img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.next{
background: green;
border-radius: 10px;
margin-top: 0;
margin-left: 100px;
padding: 6px;
width: 20%;
margin-bottom: 20px;
}
.next i{
    color: var(--primary-color);
    font-size: 20px;
}
.next-content {
display: grid;
grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
grid-gap: 40px;

} 
.next-content   div img{
    width: 300px;
    height: 300px;

    border-radius: 10px;
}
.next-content h1{
    text-align: center;
}
.down-arrow{
    margin: 10%;
    text-decoration: none;
}
.scroll-down{
    scroll-behavior: smooth;
}
/* ..................................foooter.................. */
footer {
background: var(--secondar-color);
width: 100%;
height: 70vh;
color: var(--primary-color);
padding: 30px;
}
.footer {
 /* float: left;   */

}
.footer h2{
    text-align: center;
}
.footer input{
background:palevioletred;
padding: 10px;
margin: 10px;

}
#myfooter{
    align-items: center;
    justify-content: space-between;
    /* padding: 50px; */
    flex-wrap: wrap;
}

.footer textarea{
    background: palevioletred;
    /* width: 20%; */
    height: 50px;
}

.next{
    color: var(--primary-color);
}

.feedback i{
    color: #ff004f;
}
.feedback span{
    text-align: center;
}
footer .fa-brands{
    padding: 10px;
    color: var(--primary-color);
}
.footer i{
    border:  1px solid var(--primary-color);
    border-radius: 50%;
    margin: 5px;
}
.footer i:hover{
    background: skyblue;
    color: var(--secondar-color);
}
footer a{
    text-decoration: none;
    color: var(--primary-color);
    padding: 20px;
   
}
.new-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--primary-color);

}
/* ........................payment-page............................... */
.payment{
    /* margin: 20% auto; */
    margin: 20%;

    background:url(images/money.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.payment-title{
    margin: 10px;
    padding: 20px;
}
.payment-title input{
    width: 80%;
    padding: 20px;
}
.payment-title h1{
    color: var(--primary-color);
}
.payment-title h2{
    color: var(--primary-color);
}
.return-back i{
    color:var(--primary-color);
    font-size: 50px;
    transform: translateX(20px);
}
.buy-button{
    width: 70%;
    background: orange;
    margin: 10px;
    margin-left: 25px;
    color:var(--primary-color);
   
    padding: 10px;
    border-radius: 10px;
}
.payment-title>label{
    display: flex;
}
/* ..................responsive design...................... */
nav .fas{
display: none;
}
@media(max-width:600px){
    nav .fas{
        display: block;
        font-size: 15px;
        /* bottom: 100%; */
        top:0px;
        margin-bottom: 20%;
    }
    .log{
        margin-bottom: 20%;
    }
    .head{
        top: 0;
    }
    .center{
        position: absolute;
    top: 250px;
    left: 0px;
    padding: 20px; 
    height: 20vh;
    }
    .head{
        margin-right: 40%;
    }
    .center{
        height: 100vh;
    }
    .fa-magnifying-glass{
       display: block;
       bottom: 90%;     
    }
    .main ul li{
        padding: 10px;
    }
    .main ul li a{
        color:var(--primary-color);
    }
    nav ul{
        background:#ff004f;
        position: absolute;
        top: 0;
        right: 0px;
       /* left: 200px; */
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        transition: right 0.4s;
    }
    nav ul .fas{
        position: absolute;
        top:20px;
        right: 140px;
        bottom: 70%;

    }
    .service-content{
        /* margin-left: 20px; */
        left: 0;
        right: 0;
    }
    /* .main i{
        bottom:20%;
    } */
    footer a{
        display: inline-flex;
        
    }
    .continue{
        margin-left: 0px;
        bottom: 40px;
        /* margin-top: 10px;
        margin-bottom: 20px; */
    }
    /* .submit{
        bottom: 47px;
        left: 0;
        /* display: flex; */ */
        /* flex-direction: column;
        /* bottom: 45x; */
        .fa-magnifying-glass{
       /* margin: 8% auto;
       margin-left: 20px; */
       top:20px;
        right: 140px;
        bottom: 70%;
    }
    .form{
        top:20px;
        left: 0;
        width: 100%;
    }
    .footer {
     /* display: flex;
     flex-direction: row; */
    }
    footer{
        height: 200vh;
    }
    .log img{
        width:150px;
        height: 80px;
    }
    nav{
        height: 15%;
    }
    .scroll-down {
       position: fixed;
       right: 15%;
    }
    .close{
        right: 30%;
    }
    .content{
        height: 130vh;
    }
    .continue{
      bottom: 5%;
    }
    .submit{
        bottom: 10%;
    }
    .new-footer{
        display: flex;
        flex-direction: column;
    }
    #changecolor{
        margin-bottom: 20%;
    }
    .find{
        top:120px;
        left:900px;
        width: 70%;
        height: 52px;
        left: 10px;
    }
    .find label{
        right: 0;
        top:90px;
    display: inline-flex;
    }
    
}
