*{
    margin: 0;
    padding: 0;
    font-family: 'poppins'sans-serif;
}
html{
    scroll-behavior: smooth;
}
.log img{
    width:150px;
    height: 130px;
}
nav{
    position: fixed;
    width: 100%;
    height: 25%;
    background: #262626;

}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 70px;
}
.main ul li{
    list-style: none;
    display: inline-flex;
    padding: 20px;
    margin-right: 40px;
}
.main ul li a{
    color: white;
    text-decoration: none;
    transition: 2s;
}
.main ul li a:hover{
    color: aqua;
    /* transform: translateX(10px); */
    text-decoration-line: underline;
    
}
.main i{
    color: white;
}
select{
    font-size: 20px;
    width: 95%;
}
ion-icon{
    color: aliceblue;
}
.content{
    background: url(images/designecologist-Pmh0UoG1vlE-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
}
.center{
    position: absolute;
    top: 250px;
    left: 200px;
    padding: 20px;
}
.head{
    color: skyblue;
}
.choose{
    font-size: 30px;
}
.order{
    position: fixed;
    right: 9%;
    bottom: 2%;
    width: 80%;
    height: 70vh;
   
    background:radial-gradient(purple,gray,blue);
    
}
.closee {
    position:fixed;
    right: 9%;
    bottom: 68%;
    font-size: 20px;
    color:#ff004f;
    background: transparent;
    border: none;
}
.continue{
    
    position: relative;
    color: aqua;
    font-size: 20px;
    margin-top: 60px;
    margin-left: 60px;
    height: 40px;
    width: 150px;
    border: 2px solid green;
    background: transparent;
    border-radius: 10px;
    transition: left .4s ease;
}
.submit{
    position: relative;
    color: aqua;
    font-size: 20px;
    margin-top: 60px;
    margin-left: 60px;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background:green;
    border: 2px solid green;   
}
.signup{
    font-size: 30px;
    color: blue;
    text-decoration: none;
}
.signup:hover{
    text-decoration-line: underline;
}
.continue:hover{
    /* width: 100%; */
  
    background:green;
    box-shadow: 0px,0px,0px, #ff004f
               0px ,0px ,0px, #ff004f
     0px ,0px ,0px, #ff004f;
}
.form{
    position: fixed;
    right: 9%;
    width: 80%;
    /* height: 20vh; */
    border: 1px groove green;
    bottom: 15%;
    background:radial-gradient(blue 20%,skyblue 10%,#ff004f 30% ,#262626 20%,darkblue 30%,yellow 30%,yellowgreen 50%,white 50%,skyblue 50%,gray 50%,#ff004f 30%,#262626 100%);

}
.login{
    font-size: 30px;
    color:white;
}
/* .paragraph{
    color: white;
} */
.close{
    position: fixed;
    right: 9%;
    bottom:68%;
    margin-right: 10px;
    /* background: red; */
    color: red;
    border: none;
    font-size: 20px;
}
.close:hover{
    background:rgb(235, 59, 59);
    color: black;

}
form {
  height: 50vh;
    padding: 20px;
}
form label{
    margin: 10px;
}
form input{
    margin:10px;
}
form input[type=text],input[type=password]{
    padding: 10px;
    background: transparent;
    text-transform: uppercase;
    width: 40%;
}
.new-form{
    position: fixed;
    background: linear-gradient(rgb(12,34,56),rgb(34,78,90));
}
/* ..........................about............... */
.owner h1{
    text-align: center;
}
.owner h2{
    text-align: center;
}
.about{
    padding: 20px;
}
.image{
   /* margin-left: 200px; */
}
.image img{
    float: left;
    width: 200px;
    padding: 30px;
    height: 300px;
    /* border-radius: 50%; */
    background:#262626;
    /* background: #262626; */
    border-radius: 50%;
}
.paragraph{
    margin-top: 100px;
    margin-left: 40px;
}
div img{
    clear: inherit;
    width: 150px;
    height: 150px;
}
.service-content{
    clear: left;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 20px;
    margin-left: 20px;
}
.service-content div img{
    width: 300px;
    height: 300px;
}
/* scrolling */
.scroll-down{
    position: fixed;
    right: 3%;
   
    
    bottom: 3%;
    
}
.scroll-down ion-icon{
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 50%;
    background: green;
    font-size: 30px;
    scroll-behavior: smooth;
    /* width: 10%;
    height: 10%; */
}
/* .......................product.......................... */
.service{
    clear: left;
}
.service h1{
    text-align: center;
}
.prouct-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin: 20px;
    margin-top: 10%;
    margin-left: 20px;
}
.prouct-list div img{
    width: 300px;
    height: 300px;
}
.buy{
    text-decoration: none;
    text-transform: uppercase;
    /* background: green;
    color: white;
    width: 20%;
    height: 5%;
    border-radius: 10px; */
}
.buy:hover{
    text-decoration-line: underline;
}
.new-product-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin: 10%;
}
.new-product-list div img{
    width: 300px;
    height: 300px;
}
.next{
background: green;
border-radius: 10px;
margin-top: 0;
margin-left: 100px;
padding: 6px;
width: 20%;
margin-bottom: 20px;
}
.next i{
    color: white;
    font-size: 20px;
}
/* ..................................foooter.................. */
footer {
background: #262626;
width: 100%;
height: 45vh;
color: white;
padding: 30px;
}
.footer {
 float: left;  

}
.footer h2{
    text-align: right;
}
.footer input{
background:palevioletred;
width: 90%;
height: 6vh;
/* padding: 10px; */
margin: 10px;

}
.footer textarea{
    background: palevioletred;
    width: 90%;
    height: 6vh;
}
.next{
    color: white;
}

.feedback{
    clear: left;
    /* justify-content: space-between; */
    right: 9%;
    bottom: 10%;
}
.feedback i{
    color: #ff004f;
}
footer .fa-brands{
    padding: 10px;
    color: white;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    text-decoration-line: underline;
}
/* ..................responsive design...................... */
nav .fas{
display: none;
}
@media(max-width:600px){
    nav .fas{
        display: block;
        font-size: 15px;
    }
    .log{
        margin-bottom: 20%;
    }
    .main ul{
        /* position: fixed; */
        right: 200px;
        bottom: 10%;
        display: white;
        /* background: #ff004f; */
        color:white;
        padding: 10px;
        
    }
    .center{
        height: 95vh;
    }
    .fa-magnifying-glass{
       display: block;     
    }
    .main ul li{
        padding: 10px;
    }
    .main ul li a{
        color:black;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: 0px;
       left: 200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
    }
    nav ul .fas{
        position: absolute;
        top:25px;
        right: 25px;

    }
}